#details {
  color: white;
  z-index: 100;
  margin: 15px;
  font-family: sans-serif !important;
  position: absolute;
  bottom: 88px;
  -webkit-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.75);
}

#details > div {
  margin: 15px;
}

#debug > p > span {
  font-weight: bold;
}

#set-font-size {
  width: 100%;
  margin-top: 10px;
}

#profiles {
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.big-gray-btn {
  margin: 5px;
  padding: 3px 10px;
  font-size: 1.1em;
  font-weight: bold;
  color: black;
  border: none;
  background-color: gray;
  border-radius: 5px;
}

.d-none {
  display: none !important;
}

.fade-button {
  background-color: rgba(100, 100, 100, 0.5) !important;
}
