* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cutive Mono", monospace;
  color: white;
}

body {
  background-color: black;
}

#canvas,
#canvas2 {
  z-index: -1;
  position: absolute;
  top: 0;
}

p {
  font-size: 20px;
}

.box-shadow {
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.75);
}

header,
main,
aside {
  max-width: 400px;
  margin: 15px;
}
